*.iml
.gradle
.idea/*.xml
.idea/libraries
.idea/caches
.DS_Store
/local.properties
/build
/captures
.externalNativeBuild
CB_Android/assets/build.info
WorkingDir/build.info
/SkinPacker/skins
/WorkingDir/
