<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="de.CB_GC_Joker_PlugIn" android:versionCode="1" android:versionName="1.0" android:installLocation="preferExternal">
	<uses-sdk android:minSdkVersion="7" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
	<uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>

	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<service android:name=".PluginService" android:label="@string/app_name">
			<intent-filter>
				<action android:name="de.cachebox.action.PICK_PLUGIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</service>

	</application>
</manifest>