<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.droidcachebox"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/cb"
        android:label="@string/app_name"
        android:theme="@style/Theme_day"
        android:usesCleartextTraffic="true"
        android:vmSafeMode="false"
        tools:targetApi="m">

        <activity
            android:name=".Main"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.Splash"
            android:exported="true"
            android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- replace scheme value with http and download (the zipfile) -->
                <data android:scheme="mf-v3-map" />
                <data android:scheme="backcountrynav-action-map" />
                <data android:scheme="bikecomputer-map" />
                <data android:scheme="mf-v4-map" />
                <data android:scheme="orux-map" />
                <!-- show position on map -->
                <data android:scheme="geo" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data
                    android:host="*geocaching.com"
                    android:pathPrefix="/seek/cache_details.aspx" />
                <data
                    android:host="*geocaching.com"
                    android:pathPrefix="/geocache/GC" />
                <data
                    android:host="coord.info"
                    android:pathPrefix="/GC" />
                <data
                    android:host="download.openandromaps.org"
                    android:pathPrefix="/maps" />
                <data
                    android:host="download.freizeitkarte-osm.de"
                    android:pathPrefix="/android" />
                <data android:pathPattern=".*\\.zip" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="*mapsforge.org" />
                <data android:host="*hs-esslingen.de" />
                <data android:pathPattern=".*\\.map" />
                <!-- if path has more dots: http://stackoverflow.com/q/3400072/44089 -->
                <data android:pathPattern=".*\\..*\\.map" />
                <data android:pathPattern=".*\\..*\\..*\\.map" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.map" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.map" />
            </intent-filter>

            <!--
                 from local filesystem p.e.: file:///storage/sdcard1/Download/berlin.map
                 gpx + zip will be handled for cache import
                 map will be copied to a map folder
            -->
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <!-- category android:name="android.intent.category.BROWSABLE"/ -->
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:pathPattern=".*\\.map" />
                <data android:pathPattern=".*\\.gpx" />
                <data android:pathPattern=".*\\.zip" />
            </intent-filter>

        </activity>

        <activity
            android:name="de.droidcachebox.activities.GcApiLogin"
            android:screenOrientation="behind"
            android:theme="@style/Theme_day_transparent" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="de.droidcachebox.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" >
            </meta-data>
        </provider>

        <service android:name=".activities.CBForeground" />

    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="geo" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:host="maps.google.com" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:host="download.osmand.net" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="waze" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="com.sygic.aura" />
        </intent>
        <intent>
            <action android:name="com.oruxmaps.VIEW_MAP_ONLINE" />
        </intent>
        <intent>
            <action android:name="android.intent.action.navigon.START_PUBLIC" />
        </intent>
    </queries>

</manifest>
