<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
	
  </appender>
 
	
	<appender name="ROLLFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
		<File>cbserver.log</File>
		<encoder>
			<pattern>%d{yyyyMMdd HH:mm:ss.SSS} %-5p %c - %m%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<minIndex>1</minIndex>
			<maxIndex>10</maxIndex>
			<FileNamePattern>cbserver.log.%i</FileNamePattern>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>5MB</MaxFileSize>
		</triggeringPolicy>
	</appender>

  <logger name="cb_server.CacheboxServer" level="DEBUG">
      <appender-ref ref="ROLLFILE"/>
  </logger>
  <logger name="cb_server.CB_ServerUI" level="DEBUG">
      <appender-ref ref="ROLLFILE"/>
  </logger>
  <logger name="cb_server.Views.CB_ViewBase" level="DEBUG">
      <appender-ref ref="ROLLFILE"/>
  </logger>
  <logger name="Rpc.RpcFunctionsServer" level="DEBUG">
      <appender-ref ref="ROLLFILE"/>
  </logger>
  <root level="INFO">
    <appender-ref ref="STDOUT" />
	<appender-ref ref="ROLLFILE" />
  </root>
</configuration>